/* Global styles */
@font-face {
  font-family: 'Firlest';
  src: url('./assets/fonts/Firlest-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Firlest', Arial, sans-serif;
}

/* Viewport container - fills the screen with background image */
#viewport-container {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Fixed 1920x1080 canvas (16:9 aspect ratio) - scales to fit viewport */
#app {
  width: 1920px;
  height: 1080px;
  flex-shrink: 0;
  transform-origin: center center;
  position: relative;
  overflow: hidden;
}